@*@using (Html.BeginForm("Language", "Account", FormMethod.Post, new { id = "langForm", @class = "navbar-left" }))
    {
        <select class="nav navbar-nav navbar-left">
            <option value="en" selected="selected">en</option>
            <option value="bg">бг</option>
        </select>
    }*@
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "langForm", @class = "navbar-left" }))
{
    ViewBag.Culture = new List<SelectListItem>()
    {
        new SelectListItem(){ Value = "en", Text = "en", Selected = true },
        new SelectListItem(){ Value = "bg", Text = "bg" }
    };

    Html.DropDownList("Culture", "select");
}