@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заключен профил";
}

<hgroup>
    <h1 class="text-danger">Заключен профил.</h1>
    <h2 class="text-danger">Този профил беше временно заключен! Моля, опитайте по-късно.</h2>
</hgroup>
