@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="text-center">Редактиране на потребителите</h1>
</div>

<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>

@Scripts.Render("~/bundles/jqgrid")