
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="text-center">Редактиране на потребителите</h1>
</div>

<div>
    data comes here
</div>