@using CommonUtilities.Utilities
@model WildCampingWithMvc.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Начало";
}

<div class="jumbotron">
    <h1 class="text-center">Биваци</h1>
    <p class="lead">
        Нашето приложение има за цел споделяне на информация за интересни места, подходящи за
        диво къмпингуване.
    </p>
</div>

<div>
    <h2 class="text-center">Последни споделени местенца</h2>

    @foreach (var m in Model.LastCampingPlaces)
    {
        string imgSource = Utilities.ConvertToImage(m.ImageFiles[0].Data);
        string url = string.Format("user/campingplacedetails?id={0}", m.Id);

        <div class="col-md-4 text-center">
            <img src='@imgSource' width=200 /><br />
            <a href=@url>@m.Name</a>
        </div>
    }
</div>