@{
    ViewBag.Title = GlobalResources.TextConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодарим за потвърждаването на e-mail-а Ви! Моля, @Html.ActionLink(GlobalResources.TextClickToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
