@{
    ViewBag.Title = "Потвърждение за забравена парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Моля, проверете email-а си, за да смените паролата си.
    </p>
</div>
	
