@model WildCampingWithMvc.Models.CampingPlace.MultipleCampingPlacesViewModel
@{
    ViewBag.Title = "Всички изтрити";
}

<div id="campingPlacesContainer" class="row container">
    <h2 class="text-center">@GlobalResources.TextDeletedCampingPlaces</h2>

    @Html.Partial("_DeletedCampingPlacesPartial", Model)
</div>

@Scripts.Render("~/bundles/custom")