@model WildCampingWithMvc.Models.CampingPlace.AddCampingPlaceViewModel
@{
    ViewBag.Title = GlobalResources.TextEditCampingPlace;
}

<h2 class="text-center">@ViewBag.Title.</h2>

@using (Html.BeginForm("EditCampingPlace", "CampingPlace", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_EditCampingPlace", Model);
    TempData["isAuthorized"] = true;
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" class="btn btn-block" value=@GlobalResources.TextEdit />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
}
