@model WildCampingWithMvc.Models.CampingPlace.MultipleCampingPlacesViewModel
@{
    ViewBag.Title = GlobalResources.TextBegin;
}

<div class="jumbotron text-center">
    <h1>@GlobalResources.TextTitle</h1>
    <p class="lead">
        @GlobalResources.TextHomeInit
    </p>
</div>

<div class="row container">
    <h2 class="text-center">@string.Format(GlobalResources.TextCategoryPlaces, ViewBag.CategoryName)</h2>

    @Html.Partial("_MultipleCampingPlacesPartial", Model)
</div>